body {
    background-image:url("background.jpg");
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background: rgba(0, 0, 0, 0.854);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 80%;
}

.card h1 {
    color: #edf592;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.card p {
    color: #ffffff;
    font-size: 1.2em;
}
